<%- include("./partials/header") %>

<div class="container mt-5">
    <h1 class="text-center">Edit Todo</h1>
    <form action="/edit/todo/<%= todo._id %>" method="POST" class="mt-5">
        <div class="form-group">
            <label for="todo">Todo:</label>
            <input type="text" id="todo" name="todo" class="form-control" value="<%= todo.todo %>" required>
        </div>
        <div class="form-group">
            <label for="dueDate">Due Date:</label>
            <input type="date" id="dueDate" name="dueDate" class="form-control" value="<%= todo.dueDate %>" required>
        </div>
        <button type="submit" class="btn btn-primary">Update Todo</button>
    </form>
</div>

<%- include("./partials/footer") %>
